body {
  font-family: 'Arial', sans-serif;
  background-color: honeydew;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
}

nav {
  margin-top: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
  
}
nav a{
  text-decoration: none;
  color: wheat;
}

main {
  padding: 2rem;
}

.go h1 {
  text-align: center;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .text h3{
  text-align: center;
  width: 40%;
}

.img img {
  max-width: 60%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.5s;
  margin-left: 100px;
}
.img img:hover{
  transform: scale(1.1);
}

.text {
  width: 50%; /* Adjust the width as needed */
}
.text p {
  
  margin-left: -140px;
  width: 80%;


}

.footer {
  border-top: solid 1px;
  background: rgba(35, 34, 34, 0.507);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer p {
  font-size: 15px;
  color: #fff;
}